body{
	margin:0px;
	padding:0px;
	overflow:hidden;
	font-family: 'Modak', sans-serif;
}

div{
}

h1 {
	text-align:center;
    margin-bottom:0px;
    margin-top:3px;
    font-weight:normal;
}

hr{
    
    border:1px solid black;
    margin-top:0px;
    width:80%;
}