body{
	margin:0px;
	padding:0px;
	overflow:hidden;
	font-family: 'Modak', sans-serif;
}

.promptBox{
    width:500px;
    height:190px;

    position:absolute;

    border:5px solid #282828;
    border-radius:85px;
    background:linear-gradient(to bottom right, dimgray, lightgray);

    color:#282828;

    z-index:5;
}

div.promptBox hr{
    width:85%;
    border:1px solid #282828;
}

div#usernamePromptBox #usernameInputBox{
    width:300px;
    height:25px;

    background:linear-gradient(to top left, #afafaf, #cecece);

    border:2px solid #282828;
    border-radius:5px;

    display:block;
    margin:auto;
    margin-top:15px;
    margin-bottom:12px;

    color:#282828;
    /*font-family:'Roboto', serif;*/
    font-weight:lighter;
    text-align:center;
    font-size:20px;
    overflow:hidden;
}

div.promptBox .button{
    position:absolute;
    bottom:92px;

    border:2px solid #282828;
    border-radius:7px;

    font-size:20px;

    text-align:center;

    height:25px;
    width:45px;
    padding:0px 5px 2px 5px;
}

div.promptBox p{
    font-family:'Roboto', serif;
    color:#282828;
    font-size:14px;
    text-align:center;
    max-width:85%;
    margin:auto;
    margin-bottom:10px;
    font-weight:bold;
}

div.promptBox li{
    font-family:'Roboto', serif;
    font-size:14px;
    margin-left:100px;
    font-weight:bold;
}

#chatBox{
    height:125px;
    width:300px;

    font-family:'Roboto', serif;
    font-size:16px;

    position:absolute;
    left:3px;
    bottom:25px;

    padding:5px;

    border-radius:10px;

    background-color:rgba(255, 255, 255, 0.02);

    /*these prevent drag selection of the text in the chat which would distract from the game's content*/
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#sendBox{
    font-family:'Roboto', serif;
    color:grey;
    font-weight:lighter;
    font-size:16px;

    height:25px;
    width:310px;

    position:absolute;
    left:3px;
    bottom:0px;
}

#chatInput{
    overflow:hidden;
    margin-bottom:0px;

    padding-top:3px;
    height:22px;
    width:235px;
    padding-left:10px;

    display:inline-block;
    
    border-radius:15px 0px 0px 0px;
    background-color:rgba(255, 255, 255, 0.05);
}

#chatInput:focus{
    outline:none;
    background-color:rgba(255, 255, 255, 0.1);
}

#sendButton{
    float:right;

    text-align:center;
    font-size:18px;
    font-weight:bold;

    background-color:rgba(255, 255, 255, 0.09);

    padding-top:2px;
    width:65px;
    height:23px;
    
    border-radius:0px 15px 0px 0px;
}

.hotBarBox{
    width:47px;
    height:42px;

    text-align:center;

    background-color:rgba(255, 255, 255, 0.03);

    border:5px solid rgba(255, 255, 255, 0.0315);
    border-bottom:0px;
    border-radius:15px 15px 0px 0px;

    padding-top:3px;
    position:absolute;
    bottom:0px;
}

.itemsPromptBox{
    width:350px;
    height:auto;
    min-height:300px;
    max-height:500px;

    position:absolute;
    top:50px;
    left:50px;

    background-color:rgba(255, 255, 255, 0.07);

    padding:10px;
    padding-bottom:0px;

    border-radius:5px;
}
.itemsPromptBox .inner{
    width:335px;
    height:auto;
    min-height:300px;
    max-height:450px;

    margin-bottom:5px;

    display:inline-block;

    overflow:hidden;

    background-color:rgba(255, 255, 255, 0.07);

    border-radius:5px 0px 0px 5px;
}
.itemsPromptBox .x{
    position:absolute;
    top:5px;
    right:15px;

    font-family:'Roboto', serif;
    color:grey;
    font-weight:lighter;
    font-size:30px;
}
.itemsPromptBox .scroll{
    width:15px;
    height:auto;
    min-height:300px;
    max-height:450px;

    margin-bottom:5px;

    display:inline-block;

    background-color:rgba(255, 255, 255, 0.1);

    border-radius:0px 5px 5px 0px;
}
.itemsPromptBox h3{
    text-align:center;

    font-size:25px;

    margin:0px;
    margin-bottom:10px;
}

#toolTipBox{
    max-width:auto;
    max-height:auto;

    font-family:'Roboto', serif;

    background-color:rgba(255, 255, 255, 0.1);

    position:absolute;
    top:100px;
    left:100px;

    padding:5px;

    border-radius:5px;
}
#toolTipBox hr{
    width:100%;
    margin-top:0px;
    border:0px;
    border-top:1px solid darkgray;
}
#toolTipBox p{
    color:darkgray;
    margin:0px;
    text-align:center;
    max-width:150px;
    min-width:100px;
}
#toolTipBox h3{
    margin-bottom:2px;
    font-weight:bold;
    color:gray;
}

h1 {
	text-align:center;
    margin-bottom:0px;
    margin-top:3px;
    font-weight:normal;
}

h2{
    font-family:'Roboto', serif;
    color:grey;
    margin-top:0px;
    font-weight:lighter;
    font-size:33px;
}
h3{
    font-family:'Roboto', serif;
    color:grey;
    margin-top:0px;
    font-weight:lighter;
    font-size:17px;
    text-align:center;
}
hr{
    
    border:1px solid black;
    margin-top:0px;
    width:80%;
}